body {
  margin: 0;
  background-color: #f0f4f8;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  margin-top: 80px;
  padding: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: pink;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.image{
  width: 350px;
  border-radius: 30px;
}

h1 {
  color: #c5480e;
}

h2 {
  color: #3498db;
  margin-top: 10px;
}

p {
  font-size: 18px;
  color: #b11389;
  margin-top: 15px;
}
